* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
}
.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 4px;
  background: #0db760;
  transform-origin: 0%;
  z-index: 50;
}

/* color teuory */
/* 
  . primery color: #0DB760   <- green varient
  . secoundry color: #000000  <- black varient
  . optional color: #FF0000     <- red varient
  . white color: #ffffff          <- white varient
  . uses color: #FE8B75             <- pink varient
*/

/* typeography */
/* 
  .inter: regular
  .inter: medium
  .inter: bold
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
